*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "SN Pro", sans-serif;
    background-image: url("/MyFirstWeb/Hack.jpg");
}

nav{
    background-color: rgba(0, 0, 0, 0.836);
    backdrop-filter: blur(10px);
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;



}

.nav-opt{
    display: flex;
    
}

ul li {
    margin-left: 20px;
    list-style: none;
   
}

ul li a{
    text-decoration: none;
    color: white;
    

}

ul li a:hover{
    color: aqua;

}